table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(51, 112, 53);
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    text-align: left;
    background-color: rgb(209, 139, 49);
}