.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: 1px solid rgb(91, 142, 52);
    padding: 10px;
    text-align: left;
}

.header {
    display: table-header-group;
    background-color: #5b6f39;
}